body{
    background: url("IMG/Travel.png.jpg");
    background-size: cover;
    height: 100%;
   
}
 
    /* ----Header part-----  */

.header{
    display: flex;
    /* border: 2px solid black; */
   }


.Left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 6px;
}

.Left img{
    display: inline-block;
    height: 60px;
    width: 66px;
   filter: invert(100%);
   white-space: pre;
}

/* .mid{
    display:inline-block ;
        /* width: 80%;
        margin: 29px auto;
        right: 40px;
        top: 43px;
}

.mid img{
    height: 24px;
    width: 30px;
     /* white-space: pre;  */
    /* filter: invert(100%); */
/* }

.mid input{
    text-align: center;
        display: block;
       
        padding: 8px;
        border: 2px solid black;
        margin: -31px;
        font-size: 12px;
        border-radius: 8px;
}  */

 .right{
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
 } 

.btns{
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold ;
    size: 20px;
    margin: 0px 9px;
    padding: 4px 14px;
    font-size: 15px;
    cursor: pointer;
    /* right: 34px;
    top: 43px; */
}

.btns:hover{
    background-color: skyblue;
}


    /*----- Navbar part ----- */

.navigation{
    /* border: 2px solid black; */
    padding: 0px;
    margin: 0px;
   
}

.navbar{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding-top: 0px;
    margin-top: 0px;
    }


.navbar li{
    display: inline-block;
    font-size: 25px;
    font-family: 'Courgette', cursive;
}

h3{
    font-family: 'Great Vibes', cursive;
    font-weight: bolder;
    font-size: 45px;
}

.navbar li a {
color: black;
display: block;
padding: 6px 46px;
border-radius: 20px;
text-decoration: none;
font-weight: bold;
}

.navbar li a:hover{
color: black;
background-color:pink;
}

.navbar li h3 img{
    height: 50px;
    width: 45px;
    /* filter: invert(100%); */
}

        /*----- button Part ---- */

.btn {
    font-family: 'Playball', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: navy;
}

/* .container {
    border: 2px solid black;
    margin: 0px;
    padding:0px;
    width: 33%;
    border-radius: 23px;
 } */



  .container h1 {
    text-align: center;
    font-size: 40px;
}

.container button {
    display: block;
    width: 70%;
    margin: 20px auto;
  
}


        /* -----Section Part------  */

.home{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 229px;
   padding: 0px;
  /* border: 2px solid blueviolet; */
}


p{
    /* font-family: 'Great Vibes', cursive; */
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courgette', cursive;
   line-break: normal;
   line-height: 35px;
   text-align-last: center;
   /* border: 2px solid black; */
}

h1{
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
}

